.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    border:solid;
    color:white;
    margin: 1.2rem 12.2rem;
  }
  .option{
    color:white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    
  }
  h3,h1{
    color: #fff;

    margin-bottom: 50px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width:50%;
  }
  
  label {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input,
  textarea, select {
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    background-color: brown;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: lightcoral;
  }