.quote{
    color: red;
    margin-bottom: 3%;
}
.home1{
    width:100%;
}
.section-2{
    border: solid;
    color:white;
}
.text{
    color: white;
}
.text-1{
    padding-top: 3%;
    font-size: 1.3rem;
    color:white;
}
.text-2{
    color: white;
    margin-top: 10%;
    
}
.text-3{
    color: white;
    margin-top: 3%;
    text-align: center;
}
.text-4{
    padding-top: 5%;
    text-align: center;
    color: white;
}
.line{
    color: white;
    line-height: 20px;
}
.col2{
    margin-left: 8%;
}
.leaf{
    margin-top: 3%;
    width: 550px;
    height: 550px;   
}
.approach{
    width:650px;
    height:600px;
    margin-left: 25%;
    margin-top: 5%;
}
.home{
    border: solid;
    border-color: white;
    padding-bottom: 2%;
}
.quote1{
    color: white;
}
.MainContent{
    text-align: center;
}
.imgcontent{
    padding-left: 0px;
}
.hero__img-box img{
    width: 100%;
    height:250px;
    border-radius: 20px;
    border: 1px solid;
    object-fit: cover;

}
.hero__content{
    padding-top: 3.5rem;
    text-align: center;
    padding-bottom: 20px;
}
.mainContent{
    margin: 0;
}
.part2{
    padding:2%;
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
