.container .grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btnpre {
    color: aliceblue;
    background-color: red;
    justify-self: flex-start;
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;

}
.btnnext{
    color: aliceblue;
    background-color: rgb(133, 6, 6);
    justify-self: flex-end;
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;

}
.container .title1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
    padding: .3em .2em;
    border-radius: 4px;
}

.text-light {
	color: var(--light-color)
}
#q1-option{
    color: aliceblue;
}