.container .grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container{
    margin-bottom: 3rem;
    
}
.container1{
    border: solid var(--primary-color);
    margin-top: 3%;
    margin-bottom: 3%;
}

.questions{
    margin-bottom: 5%;
}

.btnpre {
    color: aliceblue;
    background-color: red;
    justify-self: flex-start;
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    margin-right: 50%;
margin-left: 3%;
}
.btnnext{
    color: aliceblue;
    background-color: rgb(133, 6, 6);
    justify-self: flex-end;
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    margin-right: 3%;
}
.container .title1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
    padding: .3em .2em;
    border-radius: 4px;
}

.text-light {
	color: var(--light-color);
    text-align: center;
    
}
#q1-option{
    color: aliceblue;
}

.text{
    color: red;
    margin-left: 10px;
    font-size: 1.4rem;
}



input[type=radio]:checked ~ .check::before{
    background: white;
    
}

input[type=radio]:checked {
    color: white;

} 

.checked {
    border: 5px solid var(--primary-color) !important;
  }
.checked::before{
    background: var(--primary-color)
}

.radiobtn{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: solid white;
    padding-top: 4%;
    padding-bottom: 4%;
    
}
.radiobtn3{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.radiobtn3:hover{
    color:white;
}
.radiobtn1{
    text-decoration: none;
    padding-left: 20%;
    color: white;
    font-size: 1.5rem;
    
}
.radiobtn:hover{
    color:white
}
.question{
    border: red;
}
.text1{
    color:red;
}
.cat{
    text-align: center;
}
.categories{
    color:white;
    font-size: 2rem;
    border: solid white;
    text-decoration: none;
    margin-bottom: 5%;
    padding: .6rem .6rem;  
}
.categories:hover{
    color: white;
}