.container .grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container{
    margin-bottom: 3rem;
    
}
.container1{
    
    margin-top: 3%;
    margin-bottom: 3%;
}

.btnpre {
    color: aliceblue;
    background-color: red;
    justify-self: flex-start;
    padding: 1.2em 2.7em;
    border: none;
    margin-top: 20px;
    border-radius: 1em;
    margin-right: 50%;
    margin-left: 3%;
    font-size: 1rem;
}
.btnnext{
    color: aliceblue;
    background-color: rgb(133, 6, 6);
    justify-self: flex-end;
    padding: 1.2em 2.7em;
    margin-top: 20px;
    border-radius: 1em;
    margin-right: 3%;
    font-size: 1rem;
}

.container .title1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: .3em .2em;
    border-radius: 4px;
}

.text-light {
    background-color: rgb(37, 37, 37);
    color: var(--light-color);
    text-align: center;
}
#q1-option{
    color: aliceblue;
}

.text{
    color: red;
    margin-left: 10px;
    font-size: 1.4rem;
}

input[type=radio]:checked ~ .check::before{
    background: white;
}

input[type=radio]:checked {
    color: white;
} 

.checked {
    border: 5px solid var(--primary-color) !important;
}
.checked::before{
    background: var(--primary-color)
}

.radiobtn3{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.radiobtn1{
    background-color:rgb(37, 37, 37);
    text-decoration: none;
    padding-left: 20%;
    color: white;
    font-size: 1.5rem;
}
.radiobtn:hover{
    color:white
}

.cat {
    text-align: center;
  }
  
  .categories {
    color: #fff;
    font-size: 1.8rem;
    border: 2px solid #fff;
    text-decoration: none;
    margin-bottom: 2rem;
    padding: 1.2rem 2.5rem;
    border-radius: 1rem;
    background-color: rgb(133, 35, 35);
    transition: all 0.3s ease-in-out;
  }
  
  .categories:hover {
    color: rgb(133, 35, 35);
    background-color: #fff;
  }
  .text1 {
    color: grey;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 2px 2px #fff;
  }
  

.questions {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.questions h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radiobtn {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.radiobtn label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radiobtn label input[type="radio"] {
    margin-right: 10px;
}

.radiobtn3 {
    color: white;
    background-color: rgb(133, 35, 35);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.radiobtn3:hover {
    background-color: rgb(179, 47, 47);
}


.radio-container {
    display: inline-flex;
    align-items: center;
  }
  
  .radio {
    position: absolute;
    opacity: 0;
  }
  
  .radio-label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    background-color: rgb(133, 35, 35);
    color: white;
    border: 2px solid #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .radio:checked + .radio-label {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
  }

  
  