.footerconnect{
    font-size: larger;
}
.footericon{
    background-color: aliceblue;
}

.logo img{
    width: 18%;
    height: 23%;

}

.titlefooter
{
    color: white;
    font-size: 1.5rem;
    padding-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footercopyright{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 10px;
}

.social__links span a{
    text-decoration: none;
    color:var(--heading-color);
    font-size: 1.2rem;
    color: aliceblue;
}
.footertitle{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 1.5rem;
    color: brown;
}

.textfooter{
    color: white;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color:white;
}